@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8fafd;
}

.ql-container .ql-editor{
  background-color: white;
  width: 8.5in;
  min-height: 11in;
  padding : 1in;
  margin: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: 1px solid rgb(186, 186, 186);
  
}


#root{
  display: flex;
  justify-content: center;
}

#container > .ql-container.ql-snow{
  border: none !important;
}

#container > .ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #f0f4f9;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: 1px solid rgb(228, 228, 228) ;
  border-radius: 20px;
}

@page{
  margin: 1in;
}


@media print {
  body {
    background-color: none;
  }
  
  #container > .ql-container .ql-editor {
    box-shadow: none;
    margin: 0;
    padding: 0.5in;
    box-shadow: none;
    align-self: flex-start;
  }

  #container .ql-toolbar.ql-snow {
    display: none;
  }
  
}